* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --barFill: #0077C2;
    --background: #ffffff;
}




.body {
    position: relative;
    z-index: 0;
    background-color: #F5F5F5;
    /* overflow-x: hidden; */
}

.overlay {
    position: relative;
    z-index: -1;

}

.top {
    position: sticky;
    top: 0;
    z-index: -1;
    width: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    /* background-color: #59a5f5; */
    /* border: 2px solid black; */
}

.topOverlay {
    position: absolute;
    width: 100%;
    height: 80vh;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.34) 52%, rgba(21, 63, 109, 0.33) 100%);
}

.mainBG {
    position: absolute;
    width: 100%;
}

.topTitle {
    position: absolute;
    color: #ffffff;
    top: 180px;
    left: 8%;
    font-size: 40px;
}

.topText {
    position: absolute;
    left: 8%;
    top: 230px;
    text-align: start;
    color: #ffffff;
    opacity: 0;
    animation: textVisible 0.8s ease-in-out 1s 1 forwards;
    z-index: 0;

}

/* 어바웃 */
.aboutMeCon {
    position: absolute;
    width: 320px;
    right: 0px;
    height: 100%;
    padding-top: 50px;
    background-color: #333333b1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutMeCon2 {
    display: none;
}

.aboutTitle {
    display: flex;
    align-items: center;
    width: auto;
    height: 20%;
    font-size: 42px;
    font-weight: 700;
    color: #F5F5F5;
}

.aboutTextBox {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 100%;
}

@media screen and (max-width : 800px) {
    .aboutMeCon {
        display: none;
    }

    .aboutMeCon2 {
        position: relative;
        width: 300px;
        right: 0px;
        height: 100%;
        background-color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0 30px 0;
        margin-top: 40px;
    }

    .aboutTitle2 {
        display: flex;
        align-items: center;
        width: auto;
        height: 20%;
        font-size: 42px;
        font-weight: 700;
        color: #F5F5F5;
    }

    .aboutTextBox2 {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        width: auto;
        height: 100%;
    }

}

.name {
    width: 40px;
}

.aboutTextName {
    margin: 15px;
    font-size: 18px;
    color: #f5f5f5;
    font-weight: 600;
    letter-spacing: 1px;
}

.birth {
    width: 40px;
}

.aboutTextBirth {
    margin: 15px;
    font-size: 18px;
    color: #f5f5f5;
    font-weight: 600;
    letter-spacing: 1px;
}

.call {
    width: 40px;
}

.aboutTextCall {
    margin: 15px;
    font-size: 18px;
    color: #f5f5f5;
    font-weight: 600;
    letter-spacing: 1px;
}

.mail {
    width: 40px;
}

.aboutTextMail {
    margin: 15px;
    font-size: 18px;
    color: #f5f5f5;
    font-weight: 600;
    letter-spacing: 1px;
}

.aboutHr {
    width: 200px;
    margin-bottom: 15px;
}


@media screen and (max-width : 980px) {
    .mainBG {
        height: 714px;
    }

    .topOverlay {
        height: 714px;
    }
}


.Logo {
    position: absolute;
    right: 70px;
    cursor: pointer;
}

.K {
    width: 40px;
}


.header {
    position: sticky;
    top: -100px;
    /* animation: slideUp 0.5s ease-in-out 0s 1;
    animation-fill-mode: forwards; */

    background-color: #FFFFFF;
    width: auto;
    height: 50px;


    /* border-bottom: 2px solid #59a5f5; */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

    font-size: 30px;
    z-index: 2;
}

.header2 {
    position: sticky;
    animation: slideDown 0.5s ease-in-out 0.1s 1;
    animation-fill-mode: forwards;

    background-color: #FFFFFF;
    width: auto;
    height: 50px;


    /* border-bottom: 2px solid #59a5f5; */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

    font-size: 30px;
    z-index: 99;
}

.headerText {
    font-size: 22px;
    height: 50px;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: auto;
}



.textWrapper {
    display: flex;
    width: 35vw;
    margin-left: 100px;
    justify-content: space-evenly;

}


.skill2 {

    color: #cccccc;

    text-align: center;
}

.skill2:hover {
    animation: textColor 0.3s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.skill2:not(:hover) {
    animation: textColorR 0.3s ease-in-out 0s 1 forwards;
}

.project {
    color: #cccccc;
    text-align: center;
}

.project:hover {
    animation: textColor 0.3s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    cursor: pointer;

}

.project:not(:hover) {
    animation: textColorR 0.3s ease-in-out 0s 1 forwards;
}

.headerInfo {
    color: #cccccc;
    text-align: center;
}

.headerInfo:hover {
    animation: textColor 0.3s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.headerInfo:not(:hover) {
    animation: textColorR 0.3s ease-in-out 0s 1 forwards;
}

.colorChange {
    animation: textColor 0.3s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.burger {
    display: none;
    position: absolute;
    left: 27px;
    top: 7px;
}

.burgerIcon {
    width: 40px;
}

.close {
    position: absolute;
    width: 50px;
    left: -5px;
    top: -3px
}

.sideCon {
    position: relative;
    width: auto;
    height: 185px;
    top: 0px;
    left: 0px;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    animation: burgerOpen 0.3s ease 0s 1 forwards;
}

@keyframes burgerOpen {
    0% {
        height: 0px;
    }

    100% {
        height: 185px;
    }
}

.sideBox {
    width: auto;
    padding: 0 30px 0 30px;
}

.sideHr {
    width: auto;
    margin: 3px;
    animation: modalOpen 0.5s ease 0s 1 forwards;
}

.sideAboutMe,
.sideSkill,
.sideProject,
.sideInfo {
    width: 90vw;
    color: #00619a;
    font-size: 28px;
    font-weight: 700;
    /* animation: modalOpen 1s ease 0s 1 forwards; */
    cursor: pointer;
}

.sideAboutMe:hover,
.sideSkill:hover,
.sideProject:hover,
.sideInfo:hover {
    animation: textColor 0.3s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@media screen and (max-width : 700px) {

    .burger {
        display: inline;
    }

    .headerInfo {
        display: none;
    }

    .skill2 {
        display: none;
    }

    .project {
        display: none;
    }

    .colorChange {
        display: none;
    }

    .Logo {
        display: none;
    }
}



.mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    padding-bottom: 50px;
}

.titleWrapper {
    display: flex;
    justify-content: center;
}

.skillTitle {
    font-size: 40px;
    font-weight: 700;
    width: 100px;
    height: 60px;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #0077C2;
    /* border-bottom: solid 4px #0077C2 */
    letter-spacing: 5px;
    text-shadow: -1px -1px 0px var(--background),
        3px 3px 0px var(--background),
        6px 6px 0px #00000055;
}



.skill {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    /* margin: 20px 200px 0px 200px; */
    /* background-color: gray; */
    width: 500px;
    height: 350px;
}

.frontBox {

    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50px;
    height: 100%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;


}

.iconBox {
    width: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.iconBox2 {
    width: 56px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Wrapper {
    position: relative;
    width: 60px;
    display: flex;
    margin: 3px;
    flex-direction: column;
    text-align: center;
}

/* .Wrapper120 {
    position: relative;
    width: 50px;
    display: flex;
    margin: 7px;
    flex-direction: column;
} */

.frontIcon {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

/* 
.frontIcon120 {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

} */

.hoverText {
    font-size: 14px;
    display: none;
    position: absolute;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.121);
    color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

/* .hoverText120 {
    display: none;
    position: absolute;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.121);
    color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
} */

.frontIcon:hover+.hoverText {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;
}

.hoverText:hover {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;
}

/* .frontIcon120:hover+.hoverText120 {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;
} */

/* .hoverText120:hover {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;

} */

.frontEnd {
    font-size: 28px;
    font-weight: bold;
}

.backEnd {
    font-size: 28px;
    font-weight: bold;
}

.skillBack {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    /* margin: 20px 200px 0px 200px; */
    /* background-color: gray; */
    width: 500px;
    height: 300px;
}

.barBox {
    display: flex;
    width: 300px;
    height: 26px;
    /* border: 2px solid #59a5f5; */
    background-color: #cccccc;
    /* margin-top: 20px; */


}

.stack {
    display: inline-block;
    text-align: center;
    width: 100px;
    line-height: 27px;
    font-size: 15px;
    background-color: #59a5f5;
    color: #f5f5f5;
    border-right: 2px solid #cccccc;

}

.backBox {
    width: 400px;
    height: 300px;
    text-align: center;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.backBox2 {
    width: 400px;
    height: 252px;
    text-align: center;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}


.mid2 {

    background-color: #c8ffff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* @media screen and (min-width: 1001px) {
    .mid2 {
        background-color: #c8ffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} */

.projectTitle {
    font-size: 40px;
    font-weight: 700;
    width: 150px;
    height: 60px;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #0077C2;
    /* border-bottom: solid 4px #0077C2; */

    letter-spacing: 4px;
    text-shadow: -1px -1px 0px var(--background),
        3px 3px 0px var(--background),
        6px 6px 0px #00000055;
}

.projectSubTilte {
    font-size: 17px;
    border-top: #333333 4px solid;
}

.mid2Box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 98vw;
    margin-bottom: 30px;
}

.pj1 {
    width: 530px;
    height: 320px;
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: start;

}

.pjWrapper1 {
    width: 513px;
    /* margin: 70px 400px 70px 400px; */
    /* margin: 60px; */
    height: 295px;
    border-radius: 10px;
    border: #909090 2px solid;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pjWrapper1:hover {
    background-color: #f2f2f2;
    transition: ease 0.1s;

}

.pjMainImg1 {
    width: 510px;
    height: 225px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    cursor: pointer;
}

.pjMainText1 {
    font-size: 18px;
    padding: 10px 0 15px 15px;
    width: 510px;
    cursor: pointer;
}

.pjSubText1 {
    font-size: 14px;
    cursor: pointer;
}

.pj2 {
    border: 2px solid black;
    /* margin: 70px 400px 70px 400px; */
    height: 300px;
    border-radius: 10px;
}

.pj3 {
    border: 2px solid black;
    /* margin: 70px 400px 70px 400px; */
    height: 300px;
    border-radius: 10px;
}

.pj4 {
    border: 2px solid black;
    /* margin: 70px 400px 70px 400px; */
    height: 300px;
    border-radius: 10px;
}

@media screen and (max-width : 550px) {
    .pjWrapper1 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 300px;
        height: 210px;
    }

    .pjMainImg1 {
        padding: 0 1px 0 1px;
        width: 298px;
        height: 200px;

    }

    .pj1 {
        width: 300px;
        height: 230px;
    }

    .pjMainText1 {

        width: 300px;
        font-size: 13px;

        padding: 5px 5px 5px 5px;
    }

    .pjSubText1 {
        font-size: 11px;
    }
}

.bot {
    margin-top: 0px;
    width: 100%;
    height: 120px;
    background-color: #333333
}

.infoTitle {
    padding-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #F5F5F5;
}

.infoText {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 250px;
}

.infoLeft {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F5F5F5;
    width: 50%;
    height: 130px;
    border-right: #F5F5F5 2px solid;
}

.infoLeftInner {

    width: auto;
}

.infoRight {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    color: #F5F5F5;
    width: 50%;
    height: 130px;

}

.velog {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}




.modalBack {

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.247);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}



.modalMsgBox {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: msgBox 3s ease-in-out 0s 1;
    width: 250px;
    height: 150px;
    background-color: #333333ef;
    border-radius: 15px;
    padding: 0 5px 10px 5px;
    text-align: center;
}

.modalMsgImgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
}

.modalMsgImg {
    width: 65px;
    height: 65px;
}

.modalMsgText {
    color: #F5F5F5;
    font-size: 12px;
}

@media screen and (orientation: portrait) {
    .modalMsgBox {
        display: flex;
    }

    .modalMsgOverlay {
        display: flex;
    }
}



@keyframes slideDown {
    from {
        top: -100px;
    }

    to {
        top: calc(-1px/10);
    }
}

@keyframes slideUp {
    from {
        top: 0px;
    }

    to {
        top: -100px;
    }
}

@keyframes slidein65 {
    from {
        width: 0%;
    }

    to {
        width: 63%;
    }

}

@keyframes slidein50 {
    from {
        width: 0%;
    }

    to {
        width: 53%;
    }

}

@keyframes slidein40 {
    from {
        width: 0%;
    }

    to {
        width: 40%;
    }
}

@keyframes modalOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalOpenR {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes textColor {
    from {
        color: #cccccc;
    }

    to {
        color: #00619a
    }
}

@keyframes textColorR {
    from {
        color: #00619a
    }

    to {
        color: #cccccc
    }
}

@keyframes textVisible {
    0% {
        opacity: 0;
        top: 330px;
    }

    90% {
        opacity: 1;
        top: 227px;
    }

    100% {
        opacity: 1;
        top: 230px
    }
}

@keyframes msgBox {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}



/* 뉴스킬 */
.skillMaster {
    width: 1000px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border: #0077C2 solid 2px;
    display: flex;
}

.stackTitleBox {
    height: 50%;

}

.stackTitleBox2 {
    height: 50%;

}

.stackTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 150px;
    height: 350px;
}

.stackText {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 150px;
    font-size: 20px;
    font-weight: 700;
    color: #00619a;

}

.stackblink {
    height: 25px;
}

.blink {
    height: 15px;
}

.skillCon {
    width: 850px;
    height: 350px;
    /* border: black solid 2px; */

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}

.stackWrapper {
    display: flex;
    align-items: start;
}



.frontIconWrapper {
    display: flex;
    justify-content: space-between;
    width: 780px;

}

.frontIconA {
    display: flex;
    justify-content: center;
    width: 260px;
}

.frontIconB {
    display: flex;
    justify-content: center;
    width: 260px;
}

.frontIconC {
    display: flex;
    justify-content: center;
    width: 260px;
}

.backIconWrapper {
    display: flex;
    justify-content: space-between;
    width: 780px;

}

.backIconA {
    display: flex;
    justify-content: center;
    width: 260px;
}

.backIconB {
    display: flex;
    justify-content: center;
    width: 260px;
}

.backIconC {
    display: flex;
    justify-content: center;
    width: 260px;
}

.graphCon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 350px;
}

.graphWrapper {
    width: 782px;
    height: 50px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    display: flex;
    flex-wrap: wrap;

}

.graphTop {
    width: 260px;
    height: 25px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;

}

.graphBot {
    width: 260px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-top: solid black 1px;

}

.graphBot2 {
    width: 260px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.graphText {
    width: auto;
    margin: 5px 80px 0 80px;
    color: #f5f5f5;
    background-color: #0077C2;
    border-radius: 30px;
}


/* 뉴스킬(모바일용) */
.skillCon2 {
    display: none;
    width: 280px;
    height: 600px;
    /* border: black solid 2px; */
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border: #0077C2 solid 2px;
}

.stackWrapper2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.stackText2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    width: 150px;
    color: #00619a;
}

.skillBox2 {
    display: flex;
    justify-content: center;
    height: 510px;

}

.skillFront2 {
    display: flex;
    justify-content: center;
    width: 90px;

}

.frontIconWrapper2 {
    display: flex;
    flex-direction: column-reverse;
}

.Wrapper2 {
    position: relative;
    width: 40px;
    display: flex;
    margin: 3px;
    flex-direction: column;
    text-align: center;
}

.frontIcon2 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.hoverText2 {
    font-size: 12px;
    display: none;
    position: absolute;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.121);
    color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.frontIcon2:hover+.hoverText2 {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;
}

.hoverText2:hover {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;
}

.frontIconA2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 170px;
}

.frontIconB2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 170px;
}

.frontIconC2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 170px;
}

.graphBox2 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.graphLeft2 {
    width: 30px;
    height: 170px;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

.graphRight2 {
    width: 30px;
    height: 170px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
}

.skillBack2 {
    display: flex;
    justify-content: center;
    width: 90px;
}

.backIconWrapper2 {
    display: flex;
    flex-direction: column-reverse;
}

.backIconA2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;
}

.backIconB2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;
}

.backIconC2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 170px;
}

.graphTextBox2 {
    width: auto;
}

.graphTextC2 {
    position: absolute;
    top: 420px;
    right: 0px;
    text-align: center;
    width: 60px;
    font-size: 12px;
    color: #f5f5f5;
    background-color: #0077C2;
    border-radius: 30px;
}

.graphTextB2 {
    position: absolute;
    top: 250px;
    right: 0px;
    text-align: center;
    width: 60px;
    font-size: 12px;
    color: #f5f5f5;
    background-color: #0077C2;
    border-radius: 30px;
}

.graphTextA2 {
    position: absolute;
    top: 80px;
    right: 0px;
    text-align: center;
    width: 60px;
    font-size: 12px;
    color: #f5f5f5;
    background-color: #0077C2;
    border-radius: 30px;
}

@media screen and (max-width: 1102px) {
    .skillMaster {
        display: none;
    }

    .skillCon2 {
        display: flex;
    }

}

.sideOverlay {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center; */
}