* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --barFill: #0077C2;
}




.body {
    position: relative;
    z-index: 0;
    background-color: #F5F5F5;
    /* overflow-x: hidden; */
}

.overlay {
    position: relative;

}

.top {
    position: sticky;
    top: 0;
    z-index: -1;
    width: auto;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    /* background-color: #59a5f5; */
    /* border: 2px solid black; */
}

.topOverlay {
    position: absolute;
    width: 100%;
    height: 78vh;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.34) 52%, rgba(21, 63, 109, 0.33) 100%);
}

.mainBG {
    position: absolute;
    width: 100%;
}

.topText {
    position: relative;
    color: #ffffff;
    z-index: 0;
}

.Logo {
    position: absolute;
    right: 70px;
    cursor: pointer;
}

.K {
    width: 40px;
}


.header {
    position: sticky;
    top: -100px;
    /* animation: slideUp 0.5s ease-in-out 0s 1;
    animation-fill-mode: forwards; */

    background-color: #FFFFFF;
    width: auto;
    height: 50px;


    /* border-bottom: 2px solid #59a5f5; */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

    font-size: 30px;
}

.header2 {
    position: sticky;
    animation: slideDown 0.5s ease-in-out 0.1s 1;
    animation-fill-mode: forwards;

    background-color: #FFFFFF;
    width: auto;
    height: 50px;


    /* border-bottom: 2px solid #59a5f5; */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

    font-size: 30px;
    z-index: 999;
}

.headerText {
    font-size: 22px;
    height: 50px;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: auto;
}



.textWrapper {
    display: flex;
    width: 35vw;
    margin-left: 100px;
    justify-content: space-evenly;

}


.skill2 {

    color: #cccccc;

    text-align: center;
}

.skill2:hover {
    animation: textColor 0.3s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.skill2:not(:hover) {
    animation: textColorR 0.3s ease-in-out 0s 1 forwards;
}

.project {
    color: #cccccc;
    text-align: center;
}

.project:hover {
    animation: textColor 0.3s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    cursor: pointer;

}

.project:not(:hover) {
    animation: textColorR 0.3s ease-in-out 0s 1 forwards;
}

.headerInfo {
    color: #cccccc;
    text-align: center;
}

.headerInfo:hover {
    animation: textColor 0.3s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.headerInfo:not(:hover) {
    animation: textColorR 0.3s ease-in-out 0s 1 forwards;
}

.colorChange {
    animation: textColor 0.3s ease-in-out 0s 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    padding-bottom: 50px;
}

.titleWrapper {
    display: flex;
    justify-content: center;
}

.skillTitle {
    font-size: 40px;
    font-weight: 700;
    width: 100px;
    height: 60px;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #0077C2;
    border-bottom: solid 4px #0077C2;
}



.skill {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    /* margin: 20px 200px 0px 200px; */
    /* background-color: gray; */
    width: 500px;
    height: 350px;
}

.frontBox {

    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50px;
    height: 100%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;


}

.iconBox {
    width: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.iconBox2 {
    width: 56px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Wrapper {
    position: relative;
    width: 60px;
    display: flex;
    margin: 3px;
    flex-direction: column;
    text-align: center;
}

.Wrapper120 {
    position: relative;
    width: 50px;
    display: flex;
    margin: 7px;
    flex-direction: column;
}

.frontIcon {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.frontIcon120 {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

}

.hoverText {
    font-size: 14px;
    display: none;
    position: absolute;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.121);
    color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.hoverText120 {
    display: none;
    position: absolute;
    text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.121);
    color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.frontIcon:hover+.hoverText {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;
}

.hoverText:hover {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;
}

.frontIcon120:hover+.hoverText120 {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;
}

.hoverText120:hover {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;

}

.frontEnd {
    font-size: 28px;
    font-weight: bold;
}

.backEnd {
    font-size: 28px;
    font-weight: bold;
}

.skillBack {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    /* margin: 20px 200px 0px 200px; */
    /* background-color: gray; */
    width: 500px;
    height: 300px;
}

.barBox {
    display: flex;
    width: 300px;
    height: 26px;
    /* border: 2px solid #59a5f5; */
    background-color: #cccccc;
    /* margin-top: 20px; */


}

.stack {
    display: inline-block;
    text-align: center;
    width: 100px;
    line-height: 27px;
    font-size: 15px;
    background-color: #59a5f5;
    color: #f5f5f5;
    border-right: 2px solid #cccccc;

}

.barEmpty {
    display: inline-block;
}

.barFill1 {
    display: inline-block;

    background-color: var(--barFill);
    animation: slidein65 1s;
    animation-fill-mode: forwards;
}

.barFill2 {
    display: inline-block;

    background-color: var(--barFill);
    ;
    animation: slidein65 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.barFill3 {
    display: inline-block;

    background-color: var(--barFill);
    ;
    animation: slidein65 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.barFill4 {
    display: inline-block;

    background-color: var(--barFill);
    ;
    animation: slidein50 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

.barFill5 {
    display: inline-block;

    background-color: var(--barFill);
    ;
    animation: slidein40 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}

.barFill6 {
    display: inline-block;

    background-color: var(--barFill);
    ;
    animation: slidein40 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.backBox {
    width: 400px;
    height: 300px;
    text-align: center;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.backBox2 {
    width: 400px;
    height: 252px;
    text-align: center;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}


.mid2 {

    background-color: #c8ffff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* @media screen and (min-width: 1001px) {
    .mid2 {
        background-color: #c8ffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
} */

.projectTitle {
    font-size: 40px;
    font-weight: 700;
    width: 150px;
    height: 60px;
    text-align: center;
    margin: 40px 0 40px 0;
    color: #0077C2;
    border-bottom: solid 4px #0077C2;
}

.projectSubTilte {
    font-size: 17px;
    border-top: #333333 4px solid;
}

.mid2Box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 98vw;
    margin-bottom: 30px;
}

.pj1 {
    width: 530px;
    height: 320px;
    margin: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: start;

}

.pjWrapper1 {
    width: 513px;
    /* margin: 70px 400px 70px 400px; */
    /* margin: 60px; */
    height: 295px;
    border-radius: 10px;
    border: #909090 2px solid;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pjWrapper1:hover {
    background-color: #f2f2f2;
    transition: ease 0.1s;

}

.pjMainImg1 {
    width: 510px;
    height: 225px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.pjMainText1 {
    font-size: 18px;
    padding: 10px 0 15px 15px;
    width: 510px;
    cursor: pointer;
}

.pjSubText1 {
    font-size: 14px;
    cursor: pointer;
}

.pj2 {
    border: 2px solid black;
    /* margin: 70px 400px 70px 400px; */
    height: 300px;
    border-radius: 10px;
}

.pj3 {
    border: 2px solid black;
    /* margin: 70px 400px 70px 400px; */
    height: 300px;
    border-radius: 10px;
}

.pj4 {
    border: 2px solid black;
    /* margin: 70px 400px 70px 400px; */
    height: 300px;
    border-radius: 10px;
}

.bot {
    margin-top: 0px;
    width: 100%;
    height: 250px;
    background-color: #333333
}

.infoTitle {
    padding-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #F5F5F5;
}

.infoText {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 250px;
}

.infoLeft {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F5F5F5;
    width: 50%;
    height: 130px;
    border-right: #F5F5F5 2px solid;
}

.infoLeftInner {

    width: auto;
}

.infoRight {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    color: #F5F5F5;
    width: 50%;
    height: 130px;

}

.velog {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}




.modalBack {

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.247);
    animation: modalOpen 0.2s linear 0s 1;
    animation-fill-mode: forwards;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

@keyframes slideDown {
    from {
        top: -100px;
    }

    to {
        top: calc(-1px/10);
    }
}

@keyframes slideUp {
    from {
        top: 0px;
    }

    to {
        top: -100px;
    }
}

@keyframes slidein65 {
    from {
        width: 0%;
    }

    to {
        width: 63%;
    }

}

@keyframes slidein50 {
    from {
        width: 0%;
    }

    to {
        width: 53%;
    }

}

@keyframes slidein40 {
    from {
        width: 0%;
    }

    to {
        width: 40%;
    }
}

@keyframes modalOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalOpenR {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes textColor {
    from {
        color: #cccccc;
    }

    to {
        color: #00619a
    }
}

@keyframes textColorR {
    from {
        color: #00619a
    }

    to {
        color: #cccccc
    }
}

/* 뉴스킬 */
.skillCon {
    width: 1000px;
    height: 350px;
    /* border: black solid 2px; */
    border-radius: 15px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #0077C2 solid 2px;
}

.stackWrapper {
    display: flex;
    align-items: start;
}

.stackText {

    font-size: 20px;
    font-weight: 700;
    width: 900px;
    color: #00619a;

}

.frontIconWrapper {
    display: flex;
    justify-content: space-between;
    width: 780px;

}

.frontIconA {
    display: flex;
    justify-content: center;
    width: 260px;
}

.frontIconB {
    display: flex;
    justify-content: center;
    width: 260px;
}

.frontIconC {
    display: flex;
    justify-content: center;
    width: 260px;
}

.backIconWrapper {
    display: flex;
    justify-content: space-between;
    width: 780px;

}

.backIconA {
    display: flex;
    justify-content: center;
    width: 260px;
}

.backIconB {
    display: flex;
    justify-content: center;
    width: 260px;
}

.backIconC {
    display: flex;
    justify-content: center;
    width: 260px;
}

.graphCon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 350px;
}

.graphWrapper {
    width: 782px;
    height: 50px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    display: flex;
    flex-wrap: wrap;

}

.graphTop {
    width: 260px;
    height: 25px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;

}

.graphBot {
    width: 260px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-top: solid black 1px;

}

.graphText {
    width: auto;
    margin: 5px 80px 0 80px;
    color: #f5f5f5;
    background-color: #0077C2;
    border-radius: 30px;
}

@media screen and (max-width: 1102px) {
    .skillCon {
        display: none;
        background-color: red;
    }
}