* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: rgb(255, 255, 255);
}

.top {
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 2px solid black;
}

.header {
    position: sticky;
    top: 0px;

    background-color: wheat;
    width: auto;
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 2px solid black;

    font-size: 30px;
}

.skill {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    margin: 70px 200px 70px 200px;
    background-color: gray;
    height: 400px;
}

.frontBox {
    width: 50%;
    height: 100%;
    text-align: center;
}

.barBox {
    display: flex;
    width: 400px;
    height: auto;
    text-align: start;
    border: 2px solid skyblue;
}

.stack {
    width: 80px;
}

.backBox {
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: aquamarine;
}

.pj1 {
    border: 2px solid black;
    margin: 70px 400px 70px 400px;
    height: 300px;
    border-radius: 10px;
}

.pj2 {
    border: 2px solid black;
    margin: 70px 400px 70px 400px;
    height: 300px;
    border-radius: 10px;
}

.pj3 {
    border: 2px solid black;
    margin: 70px 400px 70px 400px;
    height: 300px;
    border-radius: 10px;
}

.pj4 {
    border: 2px solid black;
    margin: 70px 400px 70px 400px;
    height: 300px;
    border-radius: 10px;
}

.bot {
    width: 100%;
    height: 300px;
    background-color: black;
}

.modalBack {

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.356);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}