.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    animation: modalOpen 0.3s ease 0s 1 forwards;


}

.modalOverlayR {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    animation: modalOpenR 0.3s ease 0s 1 forwards;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: modalInner 0.3s ease 0s 1 forwards;
}

.modalContentR {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: modalInnerR 0.3s ease 0s 1 forwards;
}

.modalContent h2 {
    margin-top: 0;
}

.modalContent button {
    margin-top: 10px;
}

@keyframes modalOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalOpenR {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes modalInner {
    from {
        scale: 0.9;
    }

    to {
        scale: 1;
    }
}

@keyframes modalInnerR {
    from {
        scale: 1;
    }

    to {
        scale: 0.9
    }
}